# MSS Database Configuration
DB_HOST=db
DB_NAME=mss_db
DB_USER=jba-user

# Passwords
DB_ROOT_PWD=example-root-pwd
DB_USER_PWD=example-user-pwd


# MSS API Configuration
API_ADMIN=jba-admin
API_USER=jba-user

# Passwords
API_ADMIN_PW=example-admin-pwd
API_USER_PW=example-user-pwd

JWT_SECRET=strong-long-password